*.m
*.bin
*.[oa]
*~
*.zip
*.gz
*.dat
*.txt
nbproject
MathTL/tests/octave-workspace
Examples/Example_CDD1/Example_CDD1
Examples/Example_CDD2/Example_CDD2
Examples/Example_PlotCoefficients/Example_PlotCoefficients
MathTL/tests/test_array1d
MathTL/tests/test_atlas
MathTL/tests/test_bezier
MathTL/tests/test_block_matrix
MathTL/tests/test_colormap
MathTL/tests/test_decomp
MathTL/tests/test_decomposable_matrix
MathTL/tests/test_eigenvalues
MathTL/tests/test_extrapolation
MathTL/tests/test_fixed_array1d
MathTL/tests/test_function
MathTL/tests/test_gauss_quadrature
MathTL/tests/test_goertzel_reinsch
MathTL/tests/test_grid
MathTL/tests/test_infinite_vector
MathTL/tests/test_iteratsolv
MathTL/tests/test_laurent_polynomial
MathTL/tests/test_matrix
MathTL/tests/test_multi_lp
MathTL/tests/test_multiindex
MathTL/tests/test_ortho_poly
MathTL/tests/test_point
MathTL/tests/test_polynomial
MathTL/tests/test_preconditioner
MathTL/tests/test_bvp
MathTL/tests/test_cardinalsplines
MathTL/tests/test_chart
MathTL/tests/test_corner_singularity
MathTL/tests/test_corner_singularity_biharmonic
MathTL/tests/test_differences
MathTL/tests/test_fixed_matrix
MathTL/tests/test_fixed_vector
MathTL/tests/test_gram_schmidt
MathTL/tests/test_map_tools
MathTL/tests/test_piecewise
MathTL/tests/test_rosenbrock
MathTL/tests/test_sturm_bvp
MathTL/tests/test_qs_matrix
MathTL/tests/test_qs_matrixspeed
MathTL/tests/test_quadrature
MathTL/tests/test_random
MathTL/tests/test_recursion
MathTL/tests/test_sampled_mapping
MathTL/tests/test_splines
MathTL/tests/test_tensor
MathTL/tests/test_tools
MathTL/tests/test_up_function
MathTL/tests/test_vector
MathTL/tests/test_vectorspeed
WaveletTL/tests/test_a_basis
WaveletTL/tests/test_cdf_basis
WaveletTL/tests/test_cdf_expansion
WaveletTL/tests/test_cube_basis
WaveletTL/tests/test_cube_index
WaveletTL/tests/test_cube_indexplot
WaveletTL/tests/test_cube_support
WaveletTL/tests/test_dm
WaveletTL/tests/test_ds_basis
WaveletTL/tests/test_ds_expansion
WaveletTL/tests/test_ds_support
WaveletTL/tests/test_i_index
WaveletTL/tests/test_i_indexplot
WaveletTL/tests/test_jl_basis
WaveletTL/tests/test_jl_support
WaveletTL/tests/test_mapped_cube_basis
WaveletTL/tests/test_p_basis
WaveletTL/tests/test_p_expansion
WaveletTL/tests/test_p_support
WaveletTL/tests/test_periodic
WaveletTL/tests/test_periodic_frame
WaveletTL/tests/test_periodic_gramian
WaveletTL/tests/test_periodic_support
WaveletTL/tests/test_r_basis
WaveletTL/tests/test_r_frame
WaveletTL/tests/test_r_support
WaveletTL/tests/test_refinable
WaveletTL/tests/test_regularity
WaveletTL/tests/test_ring_basis
WaveletTL/tests/test_s_basis
WaveletTL/tests/test_s_support
WaveletTL/tests/test_spline_basis
WaveletTL/tests/test_spline_expansion
WaveletTL/tests/test_spline_support
WaveletTL/tests/test_sturm_bvp
WaveletTL/tests/test_tbasis
WaveletTL/tests/test_tbasis_index
WaveletTL/tests/test_tbasis_indexplot
WaveletTL/tests/test_tbasis_support
FrameTL/tests/test_aggregated_frame
FrameTL/tests/test_apply
FrameTL/tests/test_apply_1D
FrameTL/tests/test_biharmonic_1d_testcase
FrameTL/tests/test_biharmonic_equation
FrameTL/tests/test_biharmonic_equation_1D
FrameTL/tests/test_compute_dual_frame_elements
FrameTL/tests/test_elliptic_equation
FrameTL/tests/test_elliptic_equation_1D
FrameTL/tests/test_richardson
FrameTL/tests/test_richardson_2D
FrameTL/tests/test_richardson_projector_1D
FrameTL/tests/test_richardson_projector_2D
FrameTL/tests/test_richardson_projector_constfun_2D
FrameTL/tests/test_simple_biharmonic_equation_1D
FrameTL/tests/test_simple_biharmonic_equation_2D
FrameTL/tests/test_simple_elliptic_equation
FrameTL/tests/test_steepest_descent22
FrameTL/tests/test_steepest_descent22_2D
FrameTL/tests/test_steepest_descent33
FrameTL/tests/test_steepest_descent33_2D
FrameTL/tests/test_steepest_descent33_basis
FrameTL/tests/test_steepest_descent46
FrameTL/tests/test_steepest_descent46_2D
FrameTL/tests/test_steepest_descent_2D
FrameTL/tests/test_steepest_descent_biharmonic_1D
WaveletTL/tests/test_cdd1_cube
WaveletTL/tests/test_cdd1_gramian
WaveletTL/tests/test_cdd1_ldomain
WaveletTL/tests/test_cdd1_poisson1d
WaveletTL/tests/test_cdd2
WaveletTL/tests/test_duv
WaveletTL/tests/test_full_gramian
WaveletTL/tests/test_full_helmholtz
WaveletTL/tests/test_full_laplacian_speed
WaveletTL/tests/test_helmholtz_equation
WaveletTL/tests/test_ldomain_basis
WaveletTL/tests/test_ldomain_expansion
WaveletTL/tests/test_ldomain_gramian
WaveletTL/tests/test_ldomain_helmholtz_equation
WaveletTL/tests/test_ldomain_index
WaveletTL/tests/test_ldomain_jl_basis
WaveletTL/tests/test_ldomain_jl_expansion
WaveletTL/tests/test_ldomain_jl_gramian
WaveletTL/tests/test_ldomain_jl_laplacian
WaveletTL/tests/test_ldomain_jl_support
WaveletTL/tests/test_ldomain_laplacian
WaveletTL/tests/test_ldomain_support
WaveletTL/tests/test_tp_basis