*.m
*.bin
*.[oa]
*~
*.zip
*.gz
Examples/Example_CDD1/Example_CDD1
Examples/Example_CDD2/Example_CDD2
Examples/Example_PlotCoefficients/Example_PlotCoefficients
MathTL/tests/test_array1d
MathTL/tests/test_atlas
MathTL/tests/test_bezier
MathTL/tests/test_block_matrix
MathTL/tests/test_colormap
MathTL/tests/test_decomp
MathTL/tests/test_decomposable_matrix
MathTL/tests/test_eigenvalues
MathTL/tests/test_extrapolation
MathTL/tests/test_fixed_array1d
MathTL/tests/test_function
MathTL/tests/test_gauss_quadrature
MathTL/tests/test_goertzel_reinsch
MathTL/tests/test_grid
MathTL/tests/test_infinite_vector
MathTL/tests/test_iteratsolv
MathTL/tests/test_laurent_polynomial
MathTL/tests/test_matrix
MathTL/tests/test_multi_lp
MathTL/tests/test_multiindex
MathTL/tests/test_ortho_poly
MathTL/tests/test_point
MathTL/tests/test_polynomial
MathTL/tests/test_preconditioner
MathTL/tests/test_qs_matrix
MathTL/tests/test_qs_matrixspeed
MathTL/tests/test_quadrature
MathTL/tests/test_random
MathTL/tests/test_recursion
MathTL/tests/test_sampled_mapping
MathTL/tests/test_splines
MathTL/tests/test_tensor
MathTL/tests/test_tools
MathTL/tests/test_up_function
MathTL/tests/test_vector
MathTL/tests/test_vectorspeed
WaveletTL/tests/test_a_basis
WaveletTL/tests/test_cdf_basis
WaveletTL/tests/test_cdf_expansion
WaveletTL/tests/test_cube_basis
WaveletTL/tests/test_cube_index
WaveletTL/tests/test_cube_indexplot
WaveletTL/tests/test_cube_support
WaveletTL/tests/test_dm
WaveletTL/tests/test_ds_basis
WaveletTL/tests/test_ds_expansion
WaveletTL/tests/test_ds_support
WaveletTL/tests/test_i_index
WaveletTL/tests/test_i_indexplot
WaveletTL/tests/test_jl_basis
WaveletTL/tests/test_jl_support
WaveletTL/tests/test_mapped_cube_basis
WaveletTL/tests/test_p_basis
WaveletTL/tests/test_p_expansion
WaveletTL/tests/test_p_support
WaveletTL/tests/test_periodic
WaveletTL/tests/test_periodic_frame
WaveletTL/tests/test_periodic_gramian
WaveletTL/tests/test_periodic_support
WaveletTL/tests/test_r_basis
WaveletTL/tests/test_r_frame
WaveletTL/tests/test_r_support
WaveletTL/tests/test_refinable
WaveletTL/tests/test_regularity
WaveletTL/tests/test_ring_basis
WaveletTL/tests/test_s_basis
WaveletTL/tests/test_s_support
WaveletTL/tests/test_spline_basis
WaveletTL/tests/test_spline_expansion
WaveletTL/tests/test_spline_support
WaveletTL/tests/test_tbasis
WaveletTL/tests/test_tbasis_index
WaveletTL/tests/test_tbasis_indexplot
WaveletTL/tests/test_tbasis_support
